@media screen {
    .container {
        min-height: 100%;
        min-width: 100%;
    }

    .head {
        position: fixed;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 8%;
        background-color: aliceblue;
        margin: 0;
        padding: 0;
        border-bottom-style: solid;
        border-bottom-color: gainsboro;
        border-bottom-width: thin;
        box-shadow: gainsboro 5px 2px 5px 5px;
        z-index: 100;
    }

    .head_font {
        position: fixed;
        top: -10px;
        z-index: 100;
    }

    .head_font .h1 {
        font-family: Tahoma;
        color: deepskyblue;
        z-index: 100;
    }

    .welcome {
        position: fixed;
        top: -22px;
        left: 42%;
        animation: move;
        animation-duration: 3.2s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
        z-index: 100;
    }

    .welcome_font {
        color: darkturquoise;
        font-family: 楷体;
        font-size: 45px;
        text-align: center;
        text-align-all: center;
        font-weight: 900;
        letter-spacing: 10px;
        z-index: 100;
    }

    @keyframes move {
        0% {
            left: 14%;
        }
        25% {
            left: 32%;
            transform: rotate(20deg) scale(0.5);
        }
        50% {
            left: 50%;
            transform: scale(1);
        }
        75% {
            left: 32%;
            transform: rotate(-20deg) scale(0.5);
        }
        100% {
            left: 14%;
        }
    }
    .login {
        position: fixed;
        left: 83%;
        top: 1.2%;
        color: cornflowerblue;
        font-family: 隶书;
        font-size: 30px;
        z-index: 100;
    }

    .login:hover {
        color: burlywood;
    }

    .login:visited {
        color: deeppink;
    }

    .register {
        position: fixed;
        left: 90%;
        top: 1.2%;
        color: cornflowerblue;
        font-family: 隶书;
        font-size: 30px;
        z-index: 100;
    }

    .register:hover {
        color: burlywood;
    }

    .register:visited {
        color: deeppink;
    }

    .user_information {
        position: absolute;
        top: 9%;
        left: 20%;
        width: 60%;
        height: 10%;
        border-bottom-style: solid;
        border-bottom-color: gainsboro;
        border-bottom-width: thin;
        z-index: 1;
    }

    .user_touxiang {
        position: absolute;
        top: 0%;
        left: 45%;
        width: 9.5%;
        height: 99%;
        border-right-style: solid;
        border-right-color: gainsboro;
        border-right-width: thin;
        border-bottom-style: solid;
        border-bottom-color: gainsboro;
        border-bottom-width: thin;
        border-top-style: solid;
        border-top-color: gainsboro;
        border-top-width: thin;
        border-left-style: solid;
        border-left-color: gainsboro;
        border-left-width: thin;
        border-top-right-radius: 100%;
        border-top-left-radius: 100%;
        border-bottom-right-radius: 100%;
        border-bottom-left-radius: 100%;
    }

    .github {
        position: absolute;
        top: 20%;
        left: 100%;
        width: 5%;
        height: 70%;
        text-decoration: none;
    }

    .github:hover:after {
        content: "Github";
        display: block;
        position: absolute;
        top: 100%;
        font-family: Tahoma;
        width: 15em;
        color: coral;
    }

    .touxiangJPG {
        border-bottom-left-radius: 100%;
        border-bottom-right-radius: 100%;
        border-top-right-radius: 100%;
        border-top-left-radius: 100%;
    }

    .Index {
        position: absolute;
        top: 50%;
        left: 30%;
        animation: move1;
        animation-duration: 1.5s;
        animation-timing-function: linear;
        font-family: 华文行楷;
        font-size: x-large;
    }

    .passage {
        position: absolute;
        top: 50%;
        left: 10%;
        animation: move2;
        animation-duration: 1.5s;
        animation-timing-function: linear;
        animation-delay: 0.5s;
        animation-fill-mode: both;
        font-family: 华文行楷;
        font-size: x-large;
    }

    .threejs {
        position: absolute;
        top: 50%;
        right: 30%;
        animation: move3;
        animation-duration: 1.5s;
        animation-timing-function: linear;
        font-family: 华文行楷;
        font-size: x-large;
    }

    .about {
        position: absolute;
        top: 50%;
        right: 10%;
        animation: move4;
        animation-duration: 1.5s;
        animation-timing-function: linear;
        animation-delay: 0.5s;
        animation-fill-mode: both;
        font-family: 华文行楷;
        font-size: x-large;
    }

    @keyframes move1 {
        0% {
            left: 0%;
            top: 50%;
        }
        20% {
            left: 6%;
            top: 30%;
        }
        40% {
            left: 12%;
            top: 10%;
        }
        60% {
            left: 18%;
            top: 30%;
        }
        80% {
            left: 24%;
            top: 50%;
        }
        100% {
            left: 30%;
            top: 50%;
        }
    }
    @keyframes move2 {
        0% {
            left: 0%;
            top: 50%;
        }
        20% {
            left: 2%;
            top: 30%;
        }
        40% {
            left: 4%;
            top: 10%;
        }
        60% {
            left: 6%;
            top: 30%;
        }
        80% {
            left: 8%;
            top: 50%;
        }
        100% {
            left: 10%;
            top: 50%;
        }
    }
    @keyframes move3 {
        0% {
            right: 0%;
            top: 50%;
        }
        20% {
            right: 6%;
            top: 30%;
        }
        40% {
            right: 12%;
            top: 10%;
        }
        60% {
            right: 18%;
            top: 30%;
        }
        80% {
            right: 24%;
            top: 50%;
        }
        100% {
            right: 30%;
            top: 50%;
        }
    }
    @keyframes move4 {
        0% {
            right: 0%;
            top: 50%;
        }
        20% {
            right: 2%;
            top: 30%;
        }
        40% {
            right: 4%;
            top: 10%;
        }
        60% {
            right: 6%;
            top: 30%;
        }
        80% {
            right: 8%;
            top: 50%;
        }
        100% {
            right: 10%;
            top: 50%;
        }
    }
    .Content {
        position: absolute;
        width: 90%;
        height: 50%;
        top: 21%;
        left: 5%;
        overflow: hidden;
        border-right-style: solid;
        border-right-color: gainsboro;
        border-right-width: thin;
        border-bottom-style: solid;
        border-bottom-color: gainsboro;
        border-bottom-width: thin;
        border-top-style: solid;
        border-top-color: gainsboro;
        border-top-width: thin;
        border-left-style: solid;
        border-left-color: gainsboro;
        border-left-width: thin;
        z-index: 1;
        word-wrap: break-word;
        font-family: 华文行楷;
        background-color: azure;
        box-shadow: gainsboro 0.3em 0.3em;
    }

    .H1 {
        text-align: center;
    }

    .star {
        position: absolute;
        width: 2em;
        height: 4em;
        background-color: coral;
    }

    .P1 {
        position: absolute;
        top: 40%;
        text-indent: 2em;
        font-size: 1em;
        overflow: hidden;
        max-height: 42%;
        height: auto !important;
    }

    .bookIcon {
        position: absolute;
        width: 4%;
        height: 8%;
        top: 14%;
        left: 47%;
    }

    .eyeIcon {
        position: absolute;
        width: 4%;
        height: 8%;
        top: 14%;
        left: 60%;
    }

    .calendarIcon {
        position: absolute;
        width: 4%;
        height: 8%;
        top: 14%;
        left: 30%;
    }

    .more {
        text-decoration: none;
        position: absolute;
        width: 10%;
        height: 10%;
        bottom: 0%;
        right: 0;
        font-family: 华文行楷;
        font-size: 1.2em;
    }
}