.font{
    position: absolute;
    left: 46.4%;
    top:60%;
    color: orange;
}
.load4{
    position: absolute;
    top: 30%;
    left: 46%;
    width: 4%;
    height: 7.5%;
    background: aquamarine;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    animation-name: a;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    box-shadow: 10px 10px 5px #888888;
}
.load5{
    position: absolute;
    top:55.8%;
    left: 45.63%;
    width: 5%;
    height: 8%;
    background: aquamarine;
    animation-name: b;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    box-shadow: 10px 10px 5px #888888;
}
@keyframes a {
   0%{
       top:20%;
   }
    20%{
        top:35%;
    }
    40%{
        top:50%;
    }
    60%{
        top:50%;
        transform: scaleY(0.5);
    }
    80%{
        top:35%;
        transform: scaleY(0.8);
    }
    100%{
        top:20%;
        transform: scaleY(1.0);
    }
}
@keyframes b {
    0%{
      top:38%;
    }
    20%{
        top:45.5%;
    }
    40%{
        top:53%;
        transform: scaleX(2.5) scaleY(0.3);
    }
    60%{
        top:53%;
        transform: scaleX(2.5) scaleY(0.3);
    }
    70%{
        top:49.25%;
        transform: rotate(45deg);
    }
    80%{
        top:45.5%;
        transform: rotate(90deg);
    }
    90%{
        top:41.75%;
        transform: rotate(135deg);
    }
    100%{
        top:38%;
        transform: rotate(180deg);
    }
}